.myinfobox {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.myinfobox .my-info {
  -webkit-animation: color-change 5s infinite;
          animation: color-change 5s infinite;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  overflow: hidden;
}

.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.star {
  --star-color: var(--primary-color);
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  -webkit-filter: drop-shadow(0 0 6px currentColor);
          filter: drop-shadow(0 0 6px currentColor);
  -webkit-transform: translate3d(104em, 0, 0);
          transform: translate3d(104em, 0, 0);
  -webkit-animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
          animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}

@media screen and (max-width: 750px) {
  .star {
    -webkit-animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
            animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}

.star:nth-child(1) {
  --star-tail-length: 5.26em;
  --top-offset: 0.48vh;
  --fall-duration: 6.719s;
  --fall-delay: 8.674s;
}

.star:nth-child(2) {
  --star-tail-length: 6em;
  --top-offset: 98.37vh;
  --fall-duration: 6.815s;
  --fall-delay: 7.944s;
}

.star:nth-child(3) {
  --star-tail-length: 5.57em;
  --top-offset: 4.36vh;
  --fall-duration: 10.852s;
  --fall-delay: 5.152s;
}

.star:nth-child(4) {
  --star-tail-length: 6.32em;
  --top-offset: 91.58vh;
  --fall-duration: 9.138s;
  --fall-delay: 9.714s;
}

.star:nth-child(5) {
  --star-tail-length: 6.87em;
  --top-offset: 42.64vh;
  --fall-duration: 9.563s;
  --fall-delay: 2.74s;
}

.star:nth-child(6) {
  --star-tail-length: 7.48em;
  --top-offset: 27.69vh;
  --fall-duration: 10.265s;
  --fall-delay: 6.267s;
}

.star:nth-child(7) {
  --star-tail-length: 5.67em;
  --top-offset: 33.08vh;
  --fall-duration: 7.228s;
  --fall-delay: 8.434s;
}

.star:nth-child(8) {
  --star-tail-length: 7.26em;
  --top-offset: 50.25vh;
  --fall-duration: 8.967s;
  --fall-delay: 1.103s;
}

.star:nth-child(9) {
  --star-tail-length: 5.15em;
  --top-offset: 51.82vh;
  --fall-duration: 9.884s;
  --fall-delay: 8.475s;
}

.star:nth-child(10) {
  --star-tail-length: 6.52em;
  --top-offset: 17.47vh;
  --fall-duration: 9.545s;
  --fall-delay: 8.435s;
}

.star:nth-child(11) {
  --star-tail-length: 5.86em;
  --top-offset: 48.58vh;
  --fall-duration: 10.107s;
  --fall-delay: 5.1s;
}

.star:nth-child(12) {
  --star-tail-length: 7.01em;
  --top-offset: 16.41vh;
  --fall-duration: 11.77s;
  --fall-delay: 4.959s;
}

.star:nth-child(13) {
  --star-tail-length: 7.03em;
  --top-offset: 14.07vh;
  --fall-duration: 8.719s;
  --fall-delay: 9.873s;
}

.star:nth-child(14) {
  --star-tail-length: 5.6em;
  --top-offset: 1.83vh;
  --fall-duration: 7.79s;
  --fall-delay: 9.421s;
}

.star:nth-child(15) {
  --star-tail-length: 6.93em;
  --top-offset: 7.36vh;
  --fall-duration: 9.467s;
  --fall-delay: 2.235s;
}

.star:nth-child(16) {
  --star-tail-length: 5.98em;
  --top-offset: 77.86vh;
  --fall-duration: 11.886s;
  --fall-delay: 8.514s;
}

.star:nth-child(17) {
  --star-tail-length: 5.21em;
  --top-offset: 20.57vh;
  --fall-duration: 10.345s;
  --fall-delay: 1.937s;
}

.star:nth-child(18) {
  --star-tail-length: 7.42em;
  --top-offset: 56.36vh;
  --fall-duration: 9.048s;
  --fall-delay: 4.972s;
}

.star:nth-child(19) {
  --star-tail-length: 6.01em;
  --top-offset: 32.79vh;
  --fall-duration: 11.149s;
  --fall-delay: 6.68s;
}

.star:nth-child(20) {
  --star-tail-length: 7.42em;
  --top-offset: 72.06vh;
  --fall-duration: 9.262s;
  --fall-delay: 6.539s;
}

.star:nth-child(21) {
  --star-tail-length: 5.76em;
  --top-offset: 69.28vh;
  --fall-duration: 7.206s;
  --fall-delay: 6.485s;
}

.star:nth-child(22) {
  --star-tail-length: 6em;
  --top-offset: 72.1vh;
  --fall-duration: 11.653s;
  --fall-delay: 1.8s;
}

.star:nth-child(23) {
  --star-tail-length: 6.57em;
  --top-offset: 84.61vh;
  --fall-duration: 6.331s;
  --fall-delay: 0.486s;
}

.star:nth-child(24) {
  --star-tail-length: 6.59em;
  --top-offset: 33.39vh;
  --fall-duration: 8.41s;
  --fall-delay: 3.854s;
}

.star:nth-child(25) {
  --star-tail-length: 6.66em;
  --top-offset: 66.75vh;
  --fall-duration: 10.307s;
  --fall-delay: 2.81s;
}

.star:nth-child(26) {
  --star-tail-length: 5.29em;
  --top-offset: 59.46vh;
  --fall-duration: 10.357s;
  --fall-delay: 5.928s;
}

.star:nth-child(27) {
  --star-tail-length: 5.04em;
  --top-offset: 46.01vh;
  --fall-duration: 7.243s;
  --fall-delay: 7.109s;
}

.star:nth-child(28) {
  --star-tail-length: 6.64em;
  --top-offset: 15.19vh;
  --fall-duration: 8.977s;
  --fall-delay: 5.738s;
}

.star:nth-child(29) {
  --star-tail-length: 5.97em;
  --top-offset: 21.23vh;
  --fall-duration: 8.561s;
  --fall-delay: 3.321s;
}

.star:nth-child(30) {
  --star-tail-length: 6.11em;
  --top-offset: 29.85vh;
  --fall-duration: 7.828s;
  --fall-delay: 5.833s;
}

.star:nth-child(31) {
  --star-tail-length: 5.19em;
  --top-offset: 12.44vh;
  --fall-duration: 8.211s;
  --fall-delay: 0.748s;
}

.star:nth-child(32) {
  --star-tail-length: 6.88em;
  --top-offset: 69.12vh;
  --fall-duration: 11.738s;
  --fall-delay: 6.292s;
}

.star:nth-child(33) {
  --star-tail-length: 5.02em;
  --top-offset: 56.94vh;
  --fall-duration: 6.7s;
  --fall-delay: 1.25s;
}

.star:nth-child(34) {
  --star-tail-length: 5.27em;
  --top-offset: 33.78vh;
  --fall-duration: 9.163s;
  --fall-delay: 1.084s;
}

.star:nth-child(35) {
  --star-tail-length: 7.28em;
  --top-offset: 59.83vh;
  --fall-duration: 9.733s;
  --fall-delay: 6.609s;
}

.star:nth-child(36) {
  --star-tail-length: 7.05em;
  --top-offset: 65.97vh;
  --fall-duration: 11.183s;
  --fall-delay: 3.795s;
}

.star:nth-child(37) {
  --star-tail-length: 5.47em;
  --top-offset: 65.83vh;
  --fall-duration: 6.916s;
  --fall-delay: 5.854s;
}

.star:nth-child(38) {
  --star-tail-length: 6.11em;
  --top-offset: 73.59vh;
  --fall-duration: 7.539s;
  --fall-delay: 9.859s;
}

.star:nth-child(39) {
  --star-tail-length: 5.91em;
  --top-offset: 64.06vh;
  --fall-duration: 8.823s;
  --fall-delay: 1.022s;
}

.star:nth-child(40) {
  --star-tail-length: 5.84em;
  --top-offset: 6.79vh;
  --fall-duration: 6.563s;
  --fall-delay: 8.347s;
}

.star:nth-child(41) {
  --star-tail-length: 5.97em;
  --top-offset: 22.99vh;
  --fall-duration: 10.006s;
  --fall-delay: 8.723s;
}

.star:nth-child(42) {
  --star-tail-length: 6.32em;
  --top-offset: 89.27vh;
  --fall-duration: 10.677s;
  --fall-delay: 2.541s;
}

.star:nth-child(43) {
  --star-tail-length: 7.37em;
  --top-offset: 32.43vh;
  --fall-duration: 7.991s;
  --fall-delay: 2.154s;
}

.star:nth-child(44) {
  --star-tail-length: 5.76em;
  --top-offset: 12.66vh;
  --fall-duration: 10.257s;
  --fall-delay: 6.797s;
}

.star:nth-child(45) {
  --star-tail-length: 5.76em;
  --top-offset: 13.52vh;
  --fall-duration: 11.297s;
  --fall-delay: 6.211s;
}

.star:nth-child(46) {
  --star-tail-length: 5.53em;
  --top-offset: 80.7vh;
  --fall-duration: 9.614s;
  --fall-delay: 9.892s;
}

.star:nth-child(47) {
  --star-tail-length: 7.19em;
  --top-offset: 75.06vh;
  --fall-duration: 8.988s;
  --fall-delay: 0.533s;
}

.star:nth-child(48) {
  --star-tail-length: 7.49em;
  --top-offset: 57.93vh;
  --fall-duration: 7.508s;
  --fall-delay: 1.169s;
}

.star:nth-child(49) {
  --star-tail-length: 6.86em;
  --top-offset: 43.22vh;
  --fall-duration: 8.229s;
  --fall-delay: 8.232s;
}

.star:nth-child(50) {
  --star-tail-length: 6.06em;
  --top-offset: 66.39vh;
  --fall-duration: 7.99s;
  --fall-delay: 2.739s;
}

.star::before, .star::after {
  position: absolute;
  content: '';
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  -webkit-animation: blink 2s linear infinite;
          animation: blink 2s linear infinite;
}

.star::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.star::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@-webkit-keyframes fall {
  to {
    -webkit-transform: translate3d(-30em, 0, 0);
            transform: translate3d(-30em, 0, 0);
  }
}

@keyframes fall {
  to {
    -webkit-transform: translate3d(-30em, 0, 0);
            transform: translate3d(-30em, 0, 0);
  }
}

@-webkit-keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}

@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}

@-webkit-keyframes blink {
  50% {
    opacity: 0.6;
  }
}

@keyframes blink {
  50% {
    opacity: 0.6;
  }
}

@-webkit-keyframes color-change {
  0% {
    color: white;
  }
  10% {
    color: #4e4b4b;
  }
  20% {
    color: #302e2e;
  }
  30% {
    color: #4e4b4b;
  }
  40% {
    color: black;
  }
  60% {
    color: white;
  }
  80% {
    color: #4e4b4b;
  }
  90% {
    color: #302e2e;
  }
  100% {
    color: #4e4b4b;
  }
}

@keyframes color-change {
  0% {
    color: white;
  }
  10% {
    color: #4e4b4b;
  }
  20% {
    color: #302e2e;
  }
  30% {
    color: #4e4b4b;
  }
  40% {
    color: black;
  }
  60% {
    color: white;
  }
  80% {
    color: #4e4b4b;
  }
  90% {
    color: #302e2e;
  }
  100% {
    color: #4e4b4b;
  }
}
/*# sourceMappingURL=style.css.map */